<div class="card border-primary mb-3 mt-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>

        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">Crear Cliente</button>
        </div>

        <div  *ngIf="clientes.length==0" class="alert alert-info">
            No hay registros en la base de datos
        </div>

        <table class="table table-bordered table-striped" *ngIf="clientes.length>0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>
                        editar
                    </th>
                    <th>
                        eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt}}</td>
                    <td>
                        <button type="button" name="editar" [routerLink]="[ '/clientes/form', cliente.id]"
                            class="btn btn-primary">editar </button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" class="btn btn-danger" (click)='delete(cliente)'>eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
