<div class="card bg-dark text-white mt-5  col-auto">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">


        <form>
            <div class="form-group row ">
                <label for="nombre" class="col-form-label col-sm-2 ">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control m-1" [(ngModel)]="cliente.nombre" name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control m-1" [(ngModel)]="cliente.apellido" name="apellido">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control m-1" [(ngModel)]="cliente.email" name="email">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary btn-lg" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                    </ng-template>

                </div>
            </div>
        </form>
    </div>
</div>
